/* @font-face {
  font-family: 'TTMogujasusimgyeolR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.2/TTMogujasusimgyeolR.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
} */

@media (max-width: 768px) {
  .detail-box-theme-title {
    font-family: 'NanumBarunpen';
    font-size: 2vmax;
    font-weight: bold;
  }

  .detail-box-theme-content {
    font-family: 'NanumBarunpen';
    font-size: 1.9vmax;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .detail-box-theme-title {
    font-family: 'NanumBarunpen';
    font-size: 1.4vmax;
    font-weight: bold;
  }

  .detail-box-theme-content {
    font-family: 'NanumBarunpen';
    font-size: 1.3vmax;
  }
}

@media (min-width: 1281px) and (max-width: 1600px) {
  .detail-box-theme-title {
    font-family: 'NanumBarunpen';
    font-size: 1.3vmax;
    font-weight: bold;
  }

  .detail-box-theme-content {
    font-family: 'NanumBarunpen';
    font-size: 1.2vmax;
  }
}

@media (min-width: 1601px) {
  .detail-box-theme-title {
    font-family: 'NanumBarunpen';
    font-size: 1.2vmax;
    font-weight: bold;
  }

  .detail-box-theme-content {
    font-family: 'NanumBarunpen';
    font-size: 1vmax;
  }
}

.theme-box {
  border-color: rgb(211, 209, 209);
  border-width: 1.3px;
  border-style: dashed;
  border-radius: 8px;

  padding: 2%;
}
